.App {

  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
    background: #fff;
    width: 100%;
    z-index: 1041;
    position: sticky;
    right: 0;
    left: 0;
    top: 0;
    -webkit-box-shadow: 0 3px 6px 0 rgba(50,50,50,.3);
    box-shadow: 0 3px 6px 0 rgba(50,50,50,.3);
    padding: 10px 40px;

}
 .App-header nav .brand {
  align-items: left;
  width: 200px;
  display: block;
}

.home-text {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
